.about-page-container {
  margin: 30px auto;
  max-width: 600px;
  background: #1F1F1F;
  box-shadow: 0 2px 4px 0 rgba(30,30,30,0.50);
}

.about-page-header {
  display: flex;
  padding: 40px 0;
  justify-content: center;

  font-size: 30px;
  color: #5EA110;
  letter-spacing: 2px;
  text-shadow: 2px 0 3px #5EA110;
}

.about-page-body {
  color: #8CC4FF;
  text-align: center;
  font-size: 22px;
  line-height: 1.75;
  letter-spacing: 1px;
  text-transform: lowercase;
  padding: 0 50px 40px 50px;
}
