.top-nav-bar {
  position: fixed;
  right: 0;
  left: 0;

  z-index: 1;
  height: 70px;

  background: #1F1F1F;
  box-shadow: 0 0 10px 3px rgba(255,255,255,0.50), inset 0 1px 3px 0 rgba(31,31,31,0.50);
}

.top-nav-iamandrew-logo {
  padding: 15px 0 0 25px;
  font-size: 28px;
  color: #5EA110;
  text-shadow: 2px 0 3px #5EA110;
  cursor: pointer;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.top-nav-links-container {
  display: flex;
  padding: 17px 30px 0 0;
}

.top-nav-item {
  font-size: 24px;
  color: #5EA110;
  text-shadow: 2px 0 3px #5EA110;
  cursor: pointer;
}

.top-nav-item:hover {
  border-bottom: 2px solid #5EA110;
  padding-bottom: 5px;
}

.max-width {
  max-width: 1000px;
  margin: 0 auto;
}

.margin-right {
  margin-right: 30px;
}
