.projects-page-container {
  margin: 30px auto;
  width: fit-content;
  background: #1F1F1F;
}

.projects-page-header {
  display: flex;
  padding: 40px 0;
  justify-content: center;

  font-size: 30px;
  color: #5EA110;
  text-shadow: 2px 0 3px #5EA110;
}

.projects-page-body {
  color: #8CC4FF;
  text-align: center;
  font-size: 22px;
  padding: 0 50px 40px 50px;
}
