.projects-page-layout {
  display: flex;
  flex-direction: column;
}

.projects-page-box-container {
  cursor: default;
  margin: 10px auto 15px auto;
  width: fit-content;
  background: #1F1F1F;
  box-shadow: 0 2px 4px 0 rgba(30,30,30,0.50);
}

.projects-page-header {
  display: flex;
  padding: 40px 0;
  justify-content: center;

  font-size: 30px;
  color: #5EA110;
  letter-spacing: 2px;
  text-shadow: 2px 0 3px #5EA110;
}

@media(max-width: 600px) {
  .projects-page-header {
    font-size: 22px;
    padding: 30px 0;
  }
}

.projects-page-body {
  color: #8CC4FF;
  text-align: center;
  font-size: 22px;
  line-height: 1.7;
  letter-spacing: 2px;
  text-transform: lowercase;
  padding: 0 70px 40px 70px;
}


@media(max-width: 600px) {
  .projects-page-body {
    font-size: 18px;
    padding: 0 30px 30px 30px;
  }
}

.project-blog-posts-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
